<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <title>Ice Ice Baby // Eat-Da-Burgers!</title>
</head>

<body>
    {{{ body }}}
</body>

</html>