body {
    font-family: 'IBM Plex Sans', sans-serif;
    width: 100%;
    background-image: url('../img/bg001.jpg');
}

h1 {
    margin: auto 0;
    margin-left: 20%;
    margin-bottom: 3%;
    margin-top: 2%;
}

#available {
    float: left;
    margin-right: 6%;
    margin-left: 10%;


}

#devoured {
    float: left;

}

li {
    font-size: 20px;
    list-style-type: none;
}


#add {
    clear: both;
    margin-left: 25%;
}